.slide {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%
}

.quote {
    text-align: center;
    font-size: 60px;
    font-family: 'Lovers Quarrel', cursive;
    color: #c86b85
}

@media only screen and (max-width:850px) {
    .quote {
        font-size: 40px
    }
}

@media only screen and (max-width:550px) {
    .quote {
        font-size: 30px
    }
}

.mySlides {
    max-height: 400px;
    width: 100%
}

.slide-margin {
    margin-top: 5%;
    margin-bottom: 5%
}

.parallax-text {
    padding-left: 10px;
    font-size: 32px;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;

}

.article1 {
    background-color: pink;
    color: #fff;
    height: 120%;
    width: 70%;
    font-style: italic
}

.far {
    color: #fff
}

.article-link {
    color: #fff;
    text-decoration: underline
}

.article2 {
    background-color: pink;
    color: #fff;
    font-style: italic;
    margin-right: 25px
}

@media only screen and (min-width:320px) {
    .article1 {
        margin: 0 5px 70px 0;
        padding: 7px;
        width: 100%
    }

    .move-right-title {
        margin-left: 1%
    }
}

@media only screen and (min-width:320px) {
    .article2 {
        margin: 10px 0 70px 0;
        padding: 7px;
        width: 100%
    }
}

@media only screen and (min-width:850px) {
    .article1 {
        margin: 0 0 70px 30px;
        padding: 12px;
        width: 70%;
        font-size: 17px
    }

    .move-right-title {
        margin-left: 20%
    }
}

@media only screen and (min-width:850px) {
    .article2 {
        margin: 10px 0 70px 20%;
        padding: 12px;
        width: 70%;
        font-size: 17px
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s steps(30, end), blink-caret .75s step-end infinite
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.parallax {
    background-image: url(../storage/images/bride.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.firstTitle {
    margin-left: 2%
}
