.margin {
    transform: translateY(-53%)
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    margin-bottom: -9%;
    overflow: visible
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    color: #fff
}

li {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px
}

li a {
    display: block;
    color: #fff;
    text-decoration: none
}

li a:hover {
    text-decoration: none
}

.header {
    background-color: #e6a4b4
}

@media only screen and (min-width:880px) {
    li {
        font-size: 23px
    }
}
